/* CSS Document */

.product_here{
float:left;
width:980px;
height:40px;
line-height:40px;
color:#9A9A9A;
}
.product_here a{
color:#9A9A9A;
}

.product_here strong{
color:#0477B6;
}
.product_cate{
float:left;
width:958px;
height:auto;
border: solid 1px #DDDDDD;
padding:10px;
}

.product_cate .title{
float:left;
width:958px;
height:30px;
border-bottom: solid 1px #B5B5B5;
}

.product_cate .title p {
    border-bottom: 1px solid #0F97E3;
    float: left;
    height: 30px;
    line-height: 30px;
    margin: 0;
    padding: 0 10px;
	color:#0F97E3;
	font-size:14px;
	font-weight:bold;
}

.product_cate .title a {
    color: #0F97E3;
    float: right;
    font-size: 12px;
    font-weight: 100;
    line-height: 34px;
    padding-right: 10px;
    text-align: right;

}

.product_cate .list{
float:left;
width:958px;

display:inline;
border-bottom: solid 1px #DADADA;
padding:5px 0px;
}

.product_cate .list a{
float:left;
padding:0px 10px;
color:#666666;
height:25px;
line-height:25px;
margin-top:5px;
}
.product_cate .list .cur{
color:#FFFFFF;
background:#0576B8;
text-decoration:none;
}
.product_cate .list a:hover{
color:#FFFFFF;
background:#0576B8;
text-decoration:none;
}

.product_main{
float:left;
width:980px;
height:auto;

margin-top:10px;
border-top:none;
}



.product_main .t1{
float:left;
width:979px;
height:34px;
background:url(../images/jc/tiao10.gif) repeat-x bottom;

border-right:solid 1px #E0E0E0;

}

.product_main .list{
float:left;
width:978px;
height:auto;
padding:10px 0px;
border:solid 1px #0577B5;
border-top:none;
background:#FFFFFF;
}

.product_main .t1 a{
float:left;
height:34px;
line-height:34px;
padding:0px 50px;
font-size:14px;
font-weight:bold;
color:#000000;

}
.product_main  .t1 .cur{
height:30px;
line-height:30px;
border-top:solid  4px #0577B5;
border-right: solid 1px #0577B5;
border-left: solid 1px #0577B5;
text-decoration:none;
background:#FFFFFF;
}


.product_main .list .p_list{
float:left;
width:220px;
height:270px;
padding:2px;
background:url(../images/product_bg.gif) no-repeat;
margin-left:15px;
display:inline;
margin-top:15px;
}

.product_main .list .p_list .img{
float:left;
width:180px;
height:180px;
margin-top:8px;
margin-left:20px;
}

.product_main .list .p_list .img img{
width:180px;
height:180px;
}


.product_main .list .p_list p{
float:left;
width:220px;
line-height:30px;
height:30px;
text-align:center;
overflow:hidden;
}
.product_main .list .p_list p a{
color:#3E3E3E;
}

.p_main{
float:left;
width:978px;
height:auto;
border:solid 1px #DDDDDD;
margin-top:10px;
padding-bottom:10px;
}

.p_main .t1{
float:left;
width:958px;
height:31px;
margin-left:10px;
display:inline;
border-bottom: solid 1px #B5B5B5;
line-height:31px;

}

.p_main .t1 p {
    border-bottom: 2px solid #0F97E3;
    color: #0F97E3;
    display: inline;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 29px;
    line-height: 29px;
    margin-left: 10px;
    padding: 0 10px;
}
.p_main .t1 a {
    color: #098ED9;
    float: right;
    height: 31px;
    line-height: 31px;
    text-align: right;
    width: 70px;
}

.p_main .list{
float:left;
width:978px;
height:auto;
}

.p_main .list a{
float:left;
width:181px;
height:97px;
margin-left:12px;
display:inline;
margin-top:10px;
background:#F3F3F3;
text-align:center;
color:#3E3E3E;

overflow:hidden;
}

.p_main .list a img{
width:175px;
height:68px;
border:solid 1px #FFFFFF;
margin:2px;
display:inline;

}

.p_main .list a:hover{
background:#0577B6;
color:#FFFFFF;
text-decoration:none
}

.p_main .p_nav{
float:left;
width:937px;
height:50px;
margin-left:18px;
display:inline;
border-bottom: solid 1px #DADADA;
}

.p_main .p_nav a{
float:left;
padding:0px 10px;
line-height:30px;
color:#656565;
margin-top:10px;
}
.p_main .p_nav .cur{
background:#0676B5;
color:#FFFFFF;
text-decoration:none;
}
.p_main .p_nav a:hover{
background:#0676B5;
color:#FFFFFF;
text-decoration:none;
}





.p_main .list1{
float:left;
width:978px;
height:auto;
}

.p_main .list1 a{
float:left;
width:136px;
margin-left:22px;
display:inline;
margin-top:10px;
background:#F3F3F3;
text-align:center;
color:#3E3E3E;
padding-bottom:5px;
}

.p_main .list1 a img{
width:130px;
height:130px;
border:solid 1px #FFFFFF;
margin:2px;
display:inline;

}

.p_main .list1 a:hover{
background:#0577B6;
color:#FFFFFF;
text-decoration:none
}