<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>PHP装饰系统安装程序</title>
<link rel="stylesheet" type="text/css" href="template/css.css" />
</head>

<body>
<div class="top">
 <div class="head">
  <div class="head_logo"><a href="http://www.qdjiazhuang.com/" target="_blank"><img  src="template/logo.png" title="青岛家装网" border="0" /></a></div>
  <div class="head_info"><a href="http://www.qdjiazhuang.com/">官方网站</a><a href="http://www.qdjiazhuang.com/">技术论坛</a><a href="http://www.qdjiazhuang.com/">使用帮助</a></div>
  <div class="clear"></div>
 </div>
</div>
<div class="contain">
	<div class="step"></div><!--安装过程-->
	<div class="body">
		<div class="lcs">
			<iframe height="350" width="730" style="border:0" src="?do=license" id="iframe"></iframe>
		</div>
	</div><!--内容部分-->
	<div class="btn"><input type="button" value="下一步：检测安装环境" class="inp" onclick="javascript:location.href='?do=check'" /></div><!--按钮-->
</div>
</body>
</html>
